*{
    margin: 0px;
}
header{
    background-color:rgb(196, 195, 195);
    padding: 20px 0px;
}
.caja{
    width: 940px;
    height: 200px;
    position: relative;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0px;
}
nav li{
display:inline;
margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: #c78c19;
}
.img{
    
    width: 300px;
    height: 200px;
   
}
.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;

    
    
}
.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    height: 400px;
    vertical-align: top;
    background-color: #cccccc;
    margin: 0 1.5%;
    padding: 30px 5px;
    box-sizing: border-box;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 20% 5% 20% 5%;
   
    
    
}
.productos li:hover{
   
    width: 30%;
    height: 420px;
    box-sizing: border-box;
    border-color: #c78c19;
    border-width: 2px;
    border-style:inset;
    transition: 0.5s;
    box-shadow:  5px 5px 50px 5px rgb(111, 111, 111);
}
.productos li:active{
    border-color: green;

}
.productos h2{
    
    font-size: 22px;
    font-weight: bold;
    
}
.productos li:hover h2{
    font-size: 25px;
}

.productos img{
    width: 90%;
    height: 250px;
}



.producto-descripcion{
    font-size: 18px;
    
}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    margin-top: 25px;
    width: 100%;
    text-align: center;
    height: 265px;
    background-color: #818080;
  
}

.logo{
    height: 200px;
}

.copyright{
    font-size: 13px;
    color:#ffffff;
    margin: 20px;

}


/* contactos */

main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

form .input-padron,textarea{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
.check-box{
    margin: 20px 0;
}
.enviar{
    font-size: 22px;
    width: 40%;
    height: 100px;
    background-color: #c78c19;
    color: #ffffff;
    border-radius: 20% 5% 20% 5%;
}
.enviar:hover{
    
    background-color: #fb8d16 ;
    transition: 1s background;
    cursor: pointer;
    transform: scale(1.02);
  

}
fieldset{
    border: none;

}

/*tabla*/
table{
    
    margin: 40px 40px;
}

thead{
    background-color: #555555;
    color: #ffffff;
    font-weight: bold;
   
}

td, th{
    border:3px solid black;
    padding: 8px 15px;
}

@media screen and (max-width:480px){
    h1{
        text-align: center;
    }
   
    
        nav{
            width: 20%;
            position: static;
            top: 110px;
            right: 0px;
        }
        nav a{
         
            font-size: 10px;
           
        }
    .img{
        width: 100px;
        height: 100px;
    }
    .caja, .principal, .mapa-container, .diferenciales, .video-container, .productos, .productos img{
        width: auto;
    }
    
    .lista-diferenciales, .productos{
        margin-left: 5%;
        width: 55%;
        display: inline-block;
        vertical-align: top;
    
    }
    .imagenDiferencial, .productos img {
        width: 70%;
        height: 200px;
        margin-left: 20px;
        
      
       display: inline-block;
        box-shadow: 5px 2px 20px 5px black;
    
    
    }
}